body{
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 99%;
    height: auto;
}
.barraBusqueda{
    padding-top: 1%;
    position: relative;
}

.lupa{
    max-width: 5%;
    height: auto;
    position: absolute;
    margin-top: -0.8%;
}

h5{
    color: black;
    font-style: bold;
}

h4{

}

p{
    color: black;
    font-style: bold;
}

h3{
    color: black;
    font-style: bold;
}

h2{
    color: black;
    font-style: bold;
}

.menuIzq{
    max-height: 400px;
    background-color: blue;
}

.centroRegistro{
    background-color: white;
    margin-top: 3%;
    margin-left: 0.5%;
    border-radius: 15px;
}

.opcionesMenuIzq{
    padding-bottom: 20%;
}

.menuCentral{
    background-color: #EDEDED;
    padding-top: 1%;
    padding-left: 2%;
}

.opciones{
    padding-left: 10%;
    margin-top: 15%;
}

.inputTexto{
    margin-top: 7%;
}


.carrito{
    background-color: #C4C4C4;
    border-radius: 15px;
    padding-top: 1%;
}

.carrito h3{
    color: white;
    font-style: bold;
}



@media only screen and (max-width: 1000px){
    .carritoRow{
    }

    .carritoIMG{
        max-width: 130%;
        max-height: none;
    }

    .menuIzq{
        padding-top: 3%;
        max-height: 350px;
        background-color: #F8F8F8;
    }
}

@media only screen and (min-width: 1001px){
    .carritoRow{
    }

    .carritoIMG{
        max-width: 100%;
        max-height: none;
        margin-top: -14%;
    }

    .carrito h3{
        margin-top: 20%;
        margin-left: 20%;
    }

    .menuIzq{
        padding-top: 3%;
        max-height: 550px;
        background-color: #F8F8F8;
    }
}

hr{
    color: white;
}

.resultadosBusqueda{
    margin-left: 2%;
}



.linkIzq:link{
    color: #56A3C9;;
}

.linkIzq:hover{
    color: #090caf;
}

.iconBasket{
    max-width: 80%;
    max-height: auto;
}

.iconRemove{
    max-width: 80%;
    max-height: auto;
    cursor: pointer;
}

.btn.btn-danger.botonPagar{
    left: 35.5%;
    width: 100%;
    height: auto;
    padding-bottom: 5%;
    background-color: #ED0000;
}