.collapsible {
    background-color: #d8d8d8;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    border-radius: 15px;
    margin-top: 1%;
}

.active, .collapsible:hover {
  background-color: #1237BC;
}

.content {
  margin-top: 1%;
  padding: 0 18px;
  border-radius: 15px;
  display: none;
  overflow: hidden;
  background-color: white;
}

.listarPedidos{
  width: 100%;
}

.iconTicket{
  cursor: pointer;
}
